/* START PAGE */
.wrapper {
    margin-left: 15%;
    margin-right: 15%;
    color:#3B552E;
}
.title {
    font-family: "Raleway";
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}
.title2 {
    font-family: "Raleway";
    font-size: 24px;
}

.description {
    padding-top: 40px;
    font-size: 18px;
}

.start-btn {
    cursor: pointer;
    color: white;

    background: #3B552E;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    transition: 0.5s ease-in-out;
    margin-bottom: 40px;
    margin-top: 20px;
}

.start-btn:hover {
    box-shadow: 0px 0px 0px 2.5px #3B552E, 0px 0px 0px 5px #fff, 0px 0px 0px 10px #3B552E, 0px 0px 0px 10.5px #fff;
    /*background: white;
    color: #3B552E;*/
    transition: 0.5s ease-in-out;
}

/* QUESTIONS PAGES */
.column-container {
    display: table;
    width: 100%;
}
.col1 {
    display: table-cell;
    padding: 16px;
    width: 28%;
    background:#3B552E;
   
}
.col2 {
    display: table-cell;
    padding: 16px;
    text-align: center;
}

/* LEFT */
.side-title {
    color: white;
    font-family: "Raleway";
    font-size: 36px;
    margin-left: 20px;
    margin-top: 20px;
}
.progress {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 160px;
}
.question-num {
    color: white;
    margin-bottom: 20px;
}
.pie {
    width: 130px;
}


/* RIGHT */
.question {
    font-family: "Raleway";
    font-weight:bolder;
    font-size: 24px;
    color:#3B552E;
}

.answer-options-wrapper{
    padding-top: 150px;
    padding-bottom: 100px;
    margin: 0 auto;
    
    display: grid;
    
    border: 0px solid blue;
    text-align: center;
}

.options-4{
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
a{
    text-decoration: none !important; 
}

.option-wrapper {
    
}
.option-text {
    color:#3B552E;
    text-decoration: none !important;
}

.image-wrapper {
    border-radius: 5px;
    
}
.image-wrapper:hover {
    background-color: #e7e7e7;
}
.option-image {
    height: 70px;
    width: auto;
    padding: 10px;
}

.skip-btn {
    cursor: pointer;
    color: #3B552E;

    background: white;
    border: 1px solid #3B552E;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;

    font-size: 16px;
    transition: 0.5s ease-in-out;
    margin-bottom: 40px;
    margin-top: 20px;

}

.skip-btn:hover {
    box-shadow: 0px 0px 0px 2.5px #3B552E, 0px 0px 0px 5px #fff, 0px 0px 0px 10px #3B552E, 0px 0px 0px 10.5px #fff;
    background: #3B552E;
    color: white;
    transition: 0.5s ease-in-out;
}

.tags-area-wrapper {
    margin-top: 90px;
}

.tag-image-wrapper{
    text-align: left;
    display: inline-block;
}

.tag-test{
    background-image: url("../images/quiz-assets/tag-white.png");

    border: none;
    outline:none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;

    width: 120px;
    height: 40px;

    display: inline-block;
    text-align: left;
    color: #3B552E;
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    padding-left: 15px;
    transition: .5s ease-in-out;
    cursor:pointer;
}

.tag-image-wrapper a:visited{
    background-image: url("../images/quiz-assets/tag-gray.png");
    color: white;
}



.quiz-submit-btn {
    cursor: pointer;
    color: white;

    background: #3B552E;
    border: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;

    font-size: 16px;
    transition: 0.5s ease-in-out;
    margin-top: 100px;

}

.quiz-submit-btn:hover {
    box-shadow: 0px 0px 0px 2.5px #3B552E, 0px 0px 0px 5px #fff, 0px 0px 0px 10px #3B552E, 0px 0px 0px 10.5px #fff;
    background: #3B552E;
    color: white;
    transition: 0.5s ease-in-out;
}