/* LAYOUT */
/* Create two equal columns that floats next to each other */

.row {
  display: flex;
}

.column1 {
  flex: 40%;
  background:#3B552E;
  text-align: center;
  border-top-right-radius: 15px;
}
.column2 {
  flex: 60%;
}



.right-content {
  margin: 50px;
  padding-bottom: 40px;
  background:#fff;
  margin-right: 0px;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  top: 0px; 
  color:#666666;
  /* offset-x | offset-y | blur-radius | color */
  border: black;
  box-shadow: -5px 5px 10px rgb(214, 214, 214);
  
}
.item-name {
  top: 10px;  
  padding-top: 80px;
  padding-bottom: 20px;
  font-size: 32px;
  color: #666666;
}

.item-text {
  font-size: 20px;
  padding-top: 45px;
  color:#3B552E;
}

/* IMAGE */
.item-image {
  width: 430px;
  margin: 40px;
  border-radius: 15px;

}

/* ADD TO CART BUTTON */
.add-to-cart-btn {

    cursor: pointer;
    background: #3B552E;
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding-left: 60px;*/
    padding-right: 80px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    transition: 0.5s ease-in-out;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 40px;

}
.add-to-cart-btn:hover {
    box-shadow: 0px 0px 0px 2.5px #3B552E, 0px 0px 0px 5px #fff, 0px 0px 0px 10px #3B552E, 0px 0px 0px 10.5px #fff;
    background: #3B552E;
    color: #fff;
    transition: 0.5s ease-in-out;
}

.resize-cart {
    width: 30px;
    margin-left: 40px;
    margin-right: 40px;
}



.shop-item-content {
  display: table;
  width: 100%;
  margin-top: 0px;
}
.shop-item-col1 {
  display: table-cell;
  padding: 40px;
  width: 500px;
  background:#3B552E;
  margin-right: 20px;
  margin-top: 0px;
}
.shop-item-col2 {
  display: table-cell;

  padding: 30px;
  padding-left: 250px;
  text-align: center;
  /*background:#fff;
  margin-right: 0px;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  top: 0px; */
  /* offset-x | offset-y | blur-radius | color */
  /*box-shadow: 10px 5px 5px gray;*/
}